{%- if filetype_loop == 0 %}VRF,Address Family,Instance,Area,LSA Type,LSA,Age,Link Count,Check Sum,Sequence Number
{%-     for vrf in to_parse_ip_ospf_database %}
{%-         for address_family in to_parse_ip_ospf_database[vrf].address_family %}
{%-             for instance in to_parse_ip_ospf_database[vrf].address_family[address_family].instance %}
{%-                 for area in to_parse_ip_ospf_database[vrf].address_family[address_family].instance[instance].areas %}
{%-                     for lsa_type in to_parse_ip_ospf_database[vrf].address_family[address_family].instance[instance].areas[area].database.lsa_types %}
{%-                         for lsa in to_parse_ip_ospf_database[vrf].address_family[address_family].instance[instance].areas[area].database.lsa_types[lsa_type].lsas %}
{{ vrf }},{{ address_family }},{{ instance }},{{ area }},{{ lsa_type }},{{ lsa }},{{ to_parse_ip_ospf_database[vrf].address_family[address_family].instance[instance].areas[area].database.lsa_types[lsa_type].lsas[lsa].ospfv2.header.age }},{{ to_parse_ip_ospf_database[vrf].address_family[address_family].instance[instance].areas[area].database.lsa_types[lsa_type].lsas[lsa].ospfv2.header.link_count }},{{ to_parse_ip_ospf_database[vrf].address_family[address_family].instance[instance].areas[area].database.lsa_types[lsa_type].lsas[lsa].ospfv2.header.checksum }},{{ to_parse_ip_ospf_database[vrf].address_family[address_family].instance[instance].areas[area].database.lsa_types[lsa_type].lsas[lsa].ospfv2.header.seq_num }}
{%-                         endfor %}
{%-                     endfor %}
{%-                 endfor %}
{%-             endfor %}
{%-         endfor %}
{%-     endfor %}
{%- else %}
{%-     if filetype_loop == 1 %}
# Show IP OPSF Database
| VRF | Address Family | Instance | Area | LSA Type | LSA | Age | Link Count | Check Sum | Sequence Number |
| --- | -------------- | -------- | ---- | -------- | --- | --- | ---------- | --------- | --------------- |
{%-         for vrf in to_parse_ip_ospf_database %}
{%-             for address_family in to_parse_ip_ospf_database[vrf].address_family %}
{%-                 for instance in to_parse_ip_ospf_database[vrf].address_family[address_family].instance %}
{%-                     for area in to_parse_ip_ospf_database[vrf].address_family[address_family].instance[instance].areas %}
{%-                         for lsa_type in to_parse_ip_ospf_database[vrf].address_family[address_family].instance[instance].areas[area].database.lsa_types %}
{%-                             for lsa in to_parse_ip_ospf_database[vrf].address_family[address_family].instance[instance].areas[area].database.lsa_types[lsa_type].lsas %}
| {{ vrf }} | {{ address_family }} | {{ instance }} | {{ area }} | {{ lsa_type }} | {{ lsa }} | {{ to_parse_ip_ospf_database[vrf].address_family[address_family].instance[instance].areas[area].database.lsa_types[lsa_type].lsas[lsa].ospfv2.header.age }} | {{ to_parse_ip_ospf_database[vrf].address_family[address_family].instance[instance].areas[area].database.lsa_types[lsa_type].lsas[lsa].ospfv2.header.link_count }} | {{ to_parse_ip_ospf_database[vrf].address_family[address_family].instance[instance].areas[area].database.lsa_types[lsa_type].lsas[lsa].ospfv2.header.checksum }} | {{ to_parse_ip_ospf_database[vrf].address_family[address_family].instance[instance].areas[area].database.lsa_types[lsa_type].lsas[lsa].ospfv2.header.seq_num }} |
{%-                             endfor %}
{%-                         endfor %}
{%-                     endfor %}
{%-                 endfor %}
{%-             endfor %}
{%-         endfor %}
{%-     else %}{% if filetype_loop == 2 %}
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.0/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.0/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.0/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/colreorder/1.5.4/js/dataTables.colReorder.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.0/js/buttons.colVis.min.js"></script>
    <script src="https://cdn.datatables.net/keytable/2.6.4/js/dataTables.keyTable.min.js"></script>
    <script src="https://cdn.datatables.net/select/1.3.3/js/dataTables.select.min.js"></script>
    <script src="https://cdn.datatables.net/fixedheader/3.1.9/js/dataTables.fixedHeader.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/fixedheader/3.1.9/css/fixedHeader.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/select/1.3.3/css/select.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/keytable/2.6.4/css/keyTable.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">
</head>
<body>
<h1>Show IP OSPF </h1>
<table id = "ospf">
  <thead>
  <tr>
    <th>VRF</th>
    <th>Address Family</th>
    <th>Instance</th>
    <th>Area</th>
    <th>LSA Type</th>
    <th>LSA</th>
    <th>Age</th>
    <th>Link Count</th>
    <th>Check Sum</th>
    <th>Sequence Number</th>
  </tr>
  </thead>
  <tbody>
{%-         for vrf in to_parse_ip_ospf_database %}
{%-             for address_family in to_parse_ip_ospf_database[vrf].address_family %}
{%-                 for instance in to_parse_ip_ospf_database[vrf].address_family[address_family].instance %}
{%-                     for area in to_parse_ip_ospf_database[vrf].address_family[address_family].instance[instance].areas %}
{%-                         for lsa_type in to_parse_ip_ospf_database[vrf].address_family[address_family].instance[instance].areas[area].database.lsa_types %}
{%-                             for lsa in to_parse_ip_ospf_database[vrf].address_family[address_family].instance[instance].areas[area].database.lsa_types[lsa_type].lsas %}
<tr>
    <td>{{ vrf }}</td>
    <td>{{ address_family }}</td>
    <td>{{ instance }}</td>
    <td>{{ area }}</td>
    <td>{{ lsa_type }}</td>
    <td>{{ lsa }}</td>
    <td>{{ to_parse_ip_ospf_database[vrf].address_family[address_family].instance[instance].areas[area].database.lsa_types[lsa_type].lsas[lsa].ospfv2.header.age }}</td>
    <td>{{ to_parse_ip_ospf_database[vrf].address_family[address_family].instance[instance].areas[area].database.lsa_types[lsa_type].lsas[lsa].ospfv2.header.link_count }}</td>
    <td>{{ to_parse_ip_ospf_database[vrf].address_family[address_family].instance[instance].areas[area].database.lsa_types[lsa_type].lsas[lsa].ospfv2.header.checksum }}</td>
    <td>{{ to_parse_ip_ospf_database[vrf].address_family[address_family].instance[instance].areas[area].database.lsa_types[lsa_type].lsas[lsa].ospfv2.header.seq_num }}</td>
  </tr>
{%-                             endfor %}
{%-                         endfor %}
{%-                     endfor %}
{%-                 endfor %}
{%-             endfor %}
{%-         endfor %}
  </tbody>
</table>
<script type = "text/javascript">
  $(document).ready(function(){
    $('#ospf thead tr')
    .clone(true)
    .addClass('filters')
    .appendTo('#ospf thead');

    var table = $('#ospf').DataTable({
        keys: true,
        dom: 'Bfrtip',
        lengthMenu: [
            [ 10, 25, 50, -1 ],
            [ '10 rows', '25 rows', '50 rows', 'Show all' ]
        ],
        buttons: [
        'pageLength','colvis','copy', 'csv', 'excel', 'pdf', 'print'
        ],
        colReorder: true,
        select: true,            
        orderCellsTop: true,
        fixedHeader: true,
        initComplete: function () {
        var api = this.api();

        // For each column
        api
            .columns()
            .eq(0)
            .each(function (colIdx) {
                // Set the header cell to contain the input element
                var cell = $('.filters th').eq(
                    $(api.column(colIdx).header()).index()
                );
                var title = $(cell).text();
                $(cell).html('<input type="text" placeholder="' + title + '" />');

                // On every keypress in this input
                $(
                    'input',
                    $('.filters th').eq($(api.column(colIdx).header()).index())
                )
                    .off('keyup change')
                    .on('keyup change', function (e) {
                        e.stopPropagation();

                        // Get the search value
                        $(this).attr('title', $(this).val());
                        var regexr = '({search})'; //$(this).parents('th').find('select').val();

                        var cursorPosition = this.selectionStart;
                        // Search the column for that value
                        api
                            .column(colIdx)
                            .search(
                                this.value != ''
                                    ? regexr.replace('{search}', '(((' + this.value + ')))')
                                    : '',
                                this.value != '',
                                this.value == ''
                            )
                            .draw();

                        $(this)
                            .focus()[0]
                            .setSelectionRange(cursorPosition, cursorPosition);
                    });
            });
    },
});
});        
</script>
</body></html>
{%-         else %}
# Show IP OSPF Database
{%-             for vrf in to_parse_ip_ospf_database %}
{%-                 for address_family in to_parse_ip_ospf_database[vrf].address_family %}
{%-                     for instance in to_parse_ip_ospf_database[vrf].address_family[address_family].instance %}
## {{ vrf }} - {{ address_family }} - Instance: {{ instance }}
{%-                         for area in to_parse_ip_ospf_database[vrf].address_family[address_family].instance[instance].areas %}
### Area: {{ area }}
{%-                             for lsa_type in to_parse_ip_ospf_database[vrf].address_family[address_family].instance[instance].areas[area].database.lsa_types %}
#### LSA Type: {{ lsa_type }}
{%-                                 for lsa in to_parse_ip_ospf_database[vrf].address_family[address_family].instance[instance].areas[area].database.lsa_types[lsa_type].lsas %}
##### LSA: {{ lsa }}
###### Age: {{ to_parse_ip_ospf_database[vrf].address_family[address_family].instance[instance].areas[area].database.lsa_types[lsa_type].lsas[lsa].ospfv2.header.age }}
###### Link Count: {{ to_parse_ip_ospf_database[vrf].address_family[address_family].instance[instance].areas[area].database.lsa_types[lsa_type].lsas[lsa].ospfv2.header.link_count }}
###### Checksum: {{ to_parse_ip_ospf_database[vrf].address_family[address_family].instance[instance].areas[area].database.lsa_types[lsa_type].lsas[lsa].ospfv2.header.checksum }}
###### Sequence Number: {{ to_parse_ip_ospf_database[vrf].address_family[address_family].instance[instance].areas[area].database.lsa_types[lsa_type].lsas[lsa].ospfv2.header.seq_num }}
{%-                                 endfor %}
{%-                             endfor %}
{%-                         endfor %}
{%-                     endfor %}
{%-                 endfor %}
{%-             endfor %}
{%-         endif %}
{%-     endif %}
{%- endif %}