{% if filetype_loop == 0 %}Interface,Encapsulation,Mode,Native Vlan,Status,Allowed on Trunk,STP Forwarding{% for interface in to_parse_interfaces_trunk %}
{{ interface }},{{ to_parse_interfaces_trunk[interface].encapsulation }},{{ to_parse_interfaces_trunk[interface].mode }},{{ to_parse_interfaces_trunk[interface].native_vlan }},{{ to_parse_interfaces_trunk[interface].status }},{{ to_parse_interfaces_trunk[interface].vlans_allowed_on_trunk | replace(","," ") }},{{ to_parse_interfaces_trunk[interface].vlans_in_stp_forwarding_not_pruned | replace(","," ") }}{% endfor %}{% else %}{% if filetype_loop == 1 %}
# Show Interface Trunk
| Interface | Encapsulation | Mode | Native Vlan | Status | Allowed on Trunk | STP Forwarding |
| --------- | ------------- | ---- | ----------- | ------ | ---------------- | -------------- |{% for interface in to_parse_interfaces_trunk %}
| {{ interface }} | {{ to_parse_interfaces_trunk[interface].encapsulation }} | {{ to_parse_interfaces_trunk[interface].mode }} | {{ to_parse_interfaces_trunk[interface].native_vlan }} | {{ to_parse_interfaces_trunk[interface].status }} | {{ to_parse_interfaces_trunk[interface].vlans_allowed_on_trunk | replace(","," ") }} | {{ to_parse_interfaces_trunk[interface].vlans_in_stp_forwarding_not_pruned | replace(","," ") }} |{% endfor %}{% else %}{% if filetype_loop == 2 %}
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.0/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.0/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.0/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/colreorder/1.5.4/js/dataTables.colReorder.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.0/js/buttons.colVis.min.js"></script>
    <script src="https://cdn.datatables.net/keytable/2.6.4/js/dataTables.keyTable.min.js"></script>
    <script src="https://cdn.datatables.net/select/1.3.3/js/dataTables.select.min.js"></script>
    <script src="https://cdn.datatables.net/fixedheader/3.1.9/js/dataTables.fixedHeader.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/fixedheader/3.1.9/css/fixedHeader.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/select/1.3.3/css/select.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/keytable/2.6.4/css/keyTable.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">
</head>
<body>
<h1>Show Interfaces Trunk</h1>
<table id = "interface">
  <thead>
  <tr>
    <th>Interface</th>
    <th>Encapsulation</th>
    <th>Mode</th>
    <th>Native Vlan</th>
    <th>Status</th>   
    <th>Allowed on Trunk</th>
    <th>STP Forwarding</th>
  </tr>
  </thead>
  <tbody>
  {% for interface in to_parse_interfaces_trunk %}
<tr>
    <td>{{ interface }}</td>
    <td>{{ to_parse_interfaces_trunk[interface].encapsulation }}</td>
    <td>{{ to_parse_interfaces_trunk[interface].mode }}</td>
    <td>{{ to_parse_interfaces_trunk[interface].native_vlan }}</td>
    <td>{{ to_parse_interfaces_trunk[interface].status }}</td>
    <td>{{ to_parse_interfaces_trunk[interface].vlans_allowed_on_trunk | replace(","," ") }}</td>
    <td>{{ to_parse_interfaces_trunk[interface].vlans_in_stp_forwarding_not_pruned | replace(","," ") }}</td>
  </tr>{% endfor %}
  </tbody>
</table>
<script type = "text/javascript">
  $(document).ready(function(){
    $('#interface thead tr')
    .clone(true)
    .addClass('filters')
    .appendTo('#interface thead');

    var table = $('#interface').DataTable({
        keys: true,
        dom: 'Bfrtip',
        lengthMenu: [
            [ 10, 25, 50, -1 ],
            [ '10 rows', '25 rows', '50 rows', 'Show all' ]
        ],
        buttons: [
        'pageLength','colvis','copy', 'csv', 'excel', 'pdf', 'print'
        ],
        colReorder: true,
        select: true,            
        orderCellsTop: true,
        fixedHeader: true,
        initComplete: function () {
        var api = this.api();

        // For each column
        api
            .columns()
            .eq(0)
            .each(function (colIdx) {
                // Set the header cell to contain the input element
                var cell = $('.filters th').eq(
                    $(api.column(colIdx).header()).index()
                );
                var title = $(cell).text();
                $(cell).html('<input type="text" placeholder="' + title + '" />');

                // On every keypress in this input
                $(
                    'input',
                    $('.filters th').eq($(api.column(colIdx).header()).index())
                )
                    .off('keyup change')
                    .on('keyup change', function (e) {
                        e.stopPropagation();

                        // Get the search value
                        $(this).attr('title', $(this).val());
                        var regexr = '({search})'; //$(this).parents('th').find('select').val();

                        var cursorPosition = this.selectionStart;
                        // Search the column for that value
                        api
                            .column(colIdx)
                            .search(
                                this.value != ''
                                    ? regexr.replace('{search}', '(((' + this.value + ')))')
                                    : '',
                                this.value != '',
                                this.value == ''
                            )
                            .draw();

                        $(this)
                            .focus()[0]
                            .setSelectionRange(cursorPosition, cursorPosition);
                    });
            });
    },
});
});        
</script>
</body></html>{% else %}
# Show Interfaces Trunk
{%- for interface in to_parse_interfaces_trunk %}
## {{ interface }}
### Encapsulation: {{ to_parse_interfaces_trunk[interface].encapsulation }}
### Mode: {{ to_parse_interfaces_trunk[interface].mode }}
### Native VLAN: {{ to_parse_interfaces_trunk[interface].native_vlan }}
### Status: {{ to_parse_interfaces_trunk[interface].status }}
### VLANs Allowed on Trunk: {{ to_parse_interfaces_trunk[interface].vlans_allowed_on_trunk | replace(","," ") }}
### VLANs in STP Forwarding Not Pruned: {{ to_parse_interfaces_trunk[interface].vlans_in_stp_forwarding_not_pruned | replace(","," ") }}
{%- endfor %}
{% endif %}{% endif %}{% endif %}