{% if filetype_loop == 0 %}Total Entries,Input Drops,Input Reply Packets,Input Request Packets,Input Total,Incomplete Total,Output Drops,Output Gratuitous Packets,Output Reply Packets,Output Request Packets,Output Total
{{ to_parse_arp.entries_total }},{{ to_parse_arp.in_drops }},{{ to_parse_arp.in_replies_pkts }},{{ to_parse_arp.in_requests_pkts }},{{ to_parse_arp.in_total | default("N/A") }},{{ to_parse_arp.incomplete_total }},{{ to_parse_arp.out_drops | default("N/A") }},{{ to_parse_arp.out_gratuitous_pkts | default("N/A") }},{{ to_parse_arp.out_replies_pkts }},{{ to_parse_arp.out_requests_pkts }},{{ to_parse_arp.out_total| default("N/A") }}{% else %}{% if filetype_loop == 1 %}
# Learn ARP Statistics
| Total Entries | Input Drops | Input Reply Packets | Input Request Packets | Input Total | Incomplete Total | Output Drops | Output Gratuitous Packets | Output Reply Packets | Output Request Packets | Output Total |
| ------------- | ----------- | ------------------- | --------------------- | ----------- | ---------------- | ------------ | ------------------------- | -------------------- | ---------------------- | ------------ |
| {{ to_parse_arp.entries_total }} | {{ to_parse_arp.in_drops }} | {{ to_parse_arp.in_replies_pkts }} | {{ to_parse_arp.in_requests_pkts }} | {{ to_parse_arp.in_total | default("N/A") }} | {{ to_parse_arp.incomplete_total }} | {{ to_parse_arp.out_drops | default("N/A") }} | {{ to_parse_arp.out_gratuitous_pkts | default("N/A") }} | {{ to_parse_arp.out_replies_pkts }} | {{ to_parse_arp.out_requests_pkts }} | {{ to_parse_arp.out_total| default("N/A") }} |{% else %}{%- if filetype_loop == 2 %}
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.0/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.0/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.0/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/colreorder/1.5.4/js/dataTables.colReorder.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.0/js/buttons.colVis.min.js"></script>
    <script src="https://cdn.datatables.net/keytable/2.6.4/js/dataTables.keyTable.min.js"></script>
    <script src="https://cdn.datatables.net/select/1.3.3/js/dataTables.select.min.js"></script>
    <script src="https://cdn.datatables.net/fixedheader/3.1.9/js/dataTables.fixedHeader.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/fixedheader/3.1.9/css/fixedHeader.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/select/1.3.3/css/select.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/keytable/2.6.4/css/keyTable.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">
</head>
<body>
<h1>Learn ARP Statistics</h1>
<table id = "arp">
  <thead>
  <tr>
    <th>Total Entries</th>
    <th>Input Drops</th>
    <th>Input Reply Packets</th>
    <th>Input Request Packets</th>
    <th>Input Total</th>
    <th>Incomplete Total</th>
    <th>Output Drops</th>
    <th>Output Gratuitous Packets</th>
    <th>Output Reply Packets</th>
    <th>Output Request Packets</th>
    <th>Output Total</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>{{ to_parse_arp.entries_total }}</td>
    <td>{{ to_parse_arp.in_drops }}</td>
    <td>{{ to_parse_arp.in_replies_pkts }}</td>
    <td>{{ to_parse_arp.in_requests_pkts }}</td>
    <td>{{ to_parse_arp.in_total | default("N/A") }}</td>
    <td>{{ to_parse_arp.incomplete_total }}</td>
    <td>{{ to_parse_arp.out_drops | default("N/A") }}</td>
    <td>{{ to_parse_arp.out_gratuitous_pkts | default("N/A") }}</td>
    <td>{{ to_parse_arp.out_replies_pkts }}</td>
    <td>{{ to_parse_arp.out_requests_pkts }}</td>
    <td>{{ to_parse_arp.out_total| default("N/A") }}</td>
  </tr>
  </tbody>
</table>
<script type = "text/javascript">
  $(document).ready(function(){
    $('#arp thead tr')
    .clone(true)
    .addClass('filters')
    .appendTo('#arp thead');

    var table = $('#arp').DataTable({
        keys: true,
        dom: 'Bfrtip',
        lengthMenu: [
            [ 10, 25, 50, -1 ],
            [ '10 rows', '25 rows', '50 rows', 'Show all' ]
        ],
        buttons: [
        'pageLength','colvis','copy', 'csv', 'excel', 'pdf', 'print'
        ],
        colReorder: true,
        select: true,            
        orderCellsTop: true,
        fixedHeader: true,
        initComplete: function () {
        var api = this.api();

        // For each column
        api
            .columns()
            .eq(0)
            .each(function (colIdx) {
                // Set the header cell to contain the input element
                var cell = $('.filters th').eq(
                    $(api.column(colIdx).header()).index()
                );
                var title = $(cell).text();
                $(cell).html('<input type="text" placeholder="' + title + '" />');

                // On every keypress in this input
                $(
                    'input',
                    $('.filters th').eq($(api.column(colIdx).header()).index())
                )
                    .off('keyup change')
                    .on('keyup change', function (e) {
                        e.stopPropagation();

                        // Get the search value
                        $(this).attr('title', $(this).val());
                        var regexr = '({search})'; //$(this).parents('th').find('select').val();

                        var cursorPosition = this.selectionStart;
                        // Search the column for that value
                        api
                            .column(colIdx)
                            .search(
                                this.value != ''
                                    ? regexr.replace('{search}', '(((' + this.value + ')))')
                                    : '',
                                this.value != '',
                                this.value == ''
                            )
                            .draw();

                        $(this)
                            .focus()[0]
                            .setSelectionRange(cursorPosition, cursorPosition);
                    });
            });
    },
});
});        
</script>
</body></html>{% else %}
# ARP Statistics
## Totals
### Entries: {{ to_parse_arp.entries_total }}
### Incomplete: {{ to_parse_arp.incomplete_total }}
## Input
### Drops: {{ to_parse_arp.in_drops }}
### Reply Packets: {{ to_parse_arp.in_replies_pkts }}
### Request Packets: {{ to_parse_arp.in_requests_pkts }}
### Total:
## Output
### Drops: {{ to_parse_arp.out_drops | default("N/A") }}
### Gratuitous Packets: {{ to_parse_arp.out_gratuitous_pkts | default("N/A") }}
### Reply Packets: {{ to_parse_arp.out_replies_pkts }}
### Request Packets: {{ to_parse_arp.out_requests_pkts }}
### Total: {{ to_parse_arp.out_total| default("N/A") }}
{% endif %}{% endif %}{% endif %}