{% if filetype_loop == 0 %}Name,MAC Address,Profile ID,Static Profile Assignment,Group ID,Static Group Assignment,Portal User,Identity Store,Identity Store ID
{%- for endpoint in endpoint %}
{{ endpoint.ERSEndPoint.name }},{{ endpoint.ERSEndPoint.mac }},{{ endpoint.ERSEndPoint.profileId }},{{ endpoint.ERSEndPoint.staticProfileAssignment }},{{ endpoint.ERSEndPoint.groupId }},{{ endpoint.ERSEndPoint.staticGroupAssignment }},{{ endpoint.ERSEndPoint.portalUser }},{{ endpoint.ERSEndPoint.identityStore }},{{ endpoint.ERSEndPoint.identityStoreId }}
{%- endfor %}
{% else %}{% if filetype_loop == 1 %}
# ISE Endpoints
| Name | MAC Address | Profile ID | Static Profile Assignment | Group ID | Static Group Assignment | Portal User | Identity Store | Identity Store ID |
| ---- | ----------- | ---------- | ------------------------- | -------- | ----------------------- | ----------- | -------------- | ----------------- |
{%- for endpoint in endpoint %}
| {{ endpoint.ERSEndPoint.name }} | {{ endpoint.ERSEndPoint.mac }} | {{ endpoint.ERSEndPoint.profileId }} | {{ endpoint.ERSEndPoint.staticProfileAssignment }} | {{ endpoint.ERSEndPoint.groupId }} | {{ endpoint.ERSEndPoint.staticGroupAssignment }} | {{ endpoint.ERSEndPoint.portalUser }} | {{ endpoint.ERSEndPoint.identityStore }} | {{ endpoint.ERSEndPoint.identityStoreId }} |
{%- endfor %}
{% else %}{% if filetype_loop == 2 %}
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.0/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.0/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.0/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/colreorder/1.5.4/js/dataTables.colReorder.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.0/js/buttons.colVis.min.js"></script>
    <script src="https://cdn.datatables.net/keytable/2.6.4/js/dataTables.keyTable.min.js"></script>
    <script src="https://cdn.datatables.net/select/1.3.3/js/dataTables.select.min.js"></script>
    <script src="https://cdn.datatables.net/fixedheader/3.1.9/js/dataTables.fixedHeader.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/fixedheader/3.1.9/css/fixedHeader.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/select/1.3.3/css/select.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/keytable/2.6.4/css/keyTable.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">
</head>
<body>
<h1>ISE Endpoints</h1>
<table id = "ise">
  <tr>
    <th>Name</th>
    <th>MAC Address</th>
    <th>Profile ID</th>
    <th>Static Profile Assignment</th>
    <th>Group ID</th>
    <th>Static Group Assignment</th>
    <th>Portal User</th>
    <th>Identity Store</th>
    <th>Identity Store ID</th>
  </tr>
{%- for endpoint in endpoint %}  
  <tr>
    <td>{{ endpoint.ERSEndPoint.name }}</td>
    <td>{{ endpoint.ERSEndPoint.mac }}</td>
    <td>{{ endpoint.ERSEndPoint.profileId }}</td>
    <td>{{ endpoint.ERSEndPoint.staticProfileAssignment }}</td>
    <td>{{ endpoint.ERSEndPoint.groupId }}</td>
    <td>{{ endpoint.ERSEndPoint.staticGroupAssignment }}</td>
    <td>{{ endpoint.ERSEndPoint.portalUser }}</td>
    <td>{{ endpoint.ERSEndPoint.identityStore }}</td>
    <td>{{ endpoint.ERSEndPoint.identityStoreId }}</td>
  </tr>
{%- endfor %}  
</table>
<script type = "text/javascript">
  $(document).ready(function(){
    $('#ise thead tr')
    .clone(true)
    .addClass('filters')
    .appendTo('#ise thead');

    var table = $('#ise').DataTable({
        keys: true,
        dom: 'Bfrtip',
        lengthMenu: [
            [ 10, 25, 50, -1 ],
            [ '10 rows', '25 rows', '50 rows', 'Show all' ]
        ],
        buttons: [
        'pageLength','colvis','copy', 'csv', 'excel', 'pdf', 'print'
        ],
        colReorder: true,
        select: true,            
        orderCellsTop: true,
        fixedHeader: true,
        initComplete: function () {
        var api = this.api();

        // For each column
        api
            .columns()
            .eq(0)
            .each(function (colIdx) {
                // Set the header cell to contain the input element
                var cell = $('.filters th').eq(
                    $(api.column(colIdx).header()).index()
                );
                var title = $(cell).text();
                $(cell).html('<input type="text" placeholder="' + title + '" />');

                // On every keypress in this input
                $(
                    'input',
                    $('.filters th').eq($(api.column(colIdx).header()).index())
                )
                    .off('keyup change')
                    .on('keyup change', function (e) {
                        e.stopPropagation();

                        // Get the search value
                        $(this).attr('title', $(this).val());
                        var regexr = '({search})'; //$(this).parents('th').find('select').val();

                        var cursorPosition = this.selectionStart;
                        // Search the column for that value
                        api
                            .column(colIdx)
                            .search(
                                this.value != ''
                                    ? regexr.replace('{search}', '(((' + this.value + ')))')
                                    : '',
                                this.value != '',
                                this.value == ''
                            )
                            .draw();

                        $(this)
                            .focus()[0]
                            .setSelectionRange(cursorPosition, cursorPosition);
                    });
            });
    },
});
});        
</script>
</body></html>
{%- else %}
# ISE Endpoints
{%- for endpoint in endpoint %}
## {{ endpoint.ERSEndPoint.name }}
### MAC Address: {{ endpoint.ERSEndPoint.mac }}
### Profile ID: {{ endpoint.ERSEndPoint.profileId }}
### Static Profile Assignment: {{ endpoint.ERSEndPoint.staticProfileAssignment }}
### Group ID: {{ endpoint.ERSEndPoint.groupId }}
### Static Group Assignment: {{ endpoint.ERSEndPoint.staticGroupAssignment }}
### Portal User: {{ endpoint.ERSEndPoint.portalUser }}
### Identity Store: {{ endpoint.ERSEndPoint.identityStore }}
#### Identity Store ID: {{ endpoint.ERSEndPoint.identityStoreId }}
{%- endfor %}
{%- endif %}{% endif %}{% endif %}