{% if filetype_loop == 0 %}Deployment ID,FIPS Status,Is Walk Me Enabled,Node Name,Declared Type,Global Scope,Scope,Type Substituted,Name,Declared Type,Global Scope,Scope,Type Substituted,Value
{%- for node in deploymentInfoJSON.nodeList.nodeAndNodeCountAndCountInfo %}
{%-     for item in node.value.content %}
{{ deploymentInfoJSON.deploymentID }},{{ deploymentInfoJSON.fipsstatus }},{{ deploymentInfoJSON.isWalkmeEnabled }},{{ node.name }},{{ node.declaredType }},{{ node.globalScope }},{{ node.scope }},{{ node.typeSubstituted }},{{ item.name }},{{ item.declaredType }},{{ item.globalScope }},{{ item.scope }},{{ item.typeSubstituted }},{{ item.value | replace (","," ")}}
{%-     endfor %}
{%- endfor %}
{% else %}{% if filetype_loop == 1 %}
# ISE Deployment Info
| Deployment ID | FIPS Status | Is Walk Me Enabled | Node Name | Declared Type | Global Scope | Scope | Type Substituted | Name | Declared Type | Global Scope | Scope | Type Substituted | Value |
| ------------- | ----------- | ------------------ | --------- | ------------- | ------------ | ----- | ---------------- | ---- | ------------- | ------------ | ----- | ---------------- | ----- |
{%- for node in deploymentInfoJSON.nodeList.nodeAndNodeCountAndCountInfo %}
{%-     for item in node.value.content %}
| {{ deploymentInfoJSON.deploymentID }} | {{ deploymentInfoJSON.fipsstatus }} | {{ deploymentInfoJSON.isWalkmeEnabled }} | {{ node.name }} | {{ node.declaredType }} | {{ node.globalScope }} | {{ node.scope }} | {{ node.typeSubstituted }} | {{ item.name }} | {{ item.declaredType }} | {{ item.globalScope }} | {{ item.scope }} | {{ item.typeSubstituted }} | {{ item.value }} |
{%-     endfor %}
{%- endfor %}
{% else %}{% if filetype_loop == 2 %}
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.0/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.0/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.0/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/colreorder/1.5.4/js/dataTables.colReorder.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.0/js/buttons.colVis.min.js"></script>
    <script src="https://cdn.datatables.net/keytable/2.6.4/js/dataTables.keyTable.min.js"></script>
    <script src="https://cdn.datatables.net/select/1.3.3/js/dataTables.select.min.js"></script>
    <script src="https://cdn.datatables.net/fixedheader/3.1.9/js/dataTables.fixedHeader.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/fixedheader/3.1.9/css/fixedHeader.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/select/1.3.3/css/select.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/keytable/2.6.4/css/keyTable.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">
</head>
<body>
<h1>ISE Deployment Info</h1>
<table id = "ise">
  <tr>
    <td>Deployment ID</th>
    <th>FIPS Status</th>
    <th>Is Walk Me Enabled</th>
    <th>Node Name</th>
    <th>Declared Type</th>
    <th>Global Scope</th>
    <th>Scope</th>
    <th>Type Substituted</th>
    <th>Name</th>
    <th>Declared Type</th>
    <th>Global Scope</th>
    <th>Scope</th>
    <th>Type Substituted</th>
    <th>Value</td>
  </tr>
{%- for node in deploymentInfoJSON.nodeList.nodeAndNodeCountAndCountInfo %}
{%-     for item in node.value.content %}  
  <tr>
    <td>{{ deploymentInfoJSON.deploymentID }}</td>
    <td>{{ deploymentInfoJSON.fipsstatus }}</td>
    <td>{{ deploymentInfoJSON.isWalkmeEnabled }}</td>
    <td>{{ node.name }}</td>
    <td>{{ node.declaredType }}</td>
    <td>{{ node.globalScope }}</td>
    <td>{{ node.scope }}</td>
    <td>{{ node.typeSubstituted }}</td>
    <td>{{ item.name }}</td>
    <td>{{ item.declaredType }}</td>
    <td>{{ item.globalScope }}</td>
    <td>{{ item.scope }}</td>
    <td>{{ item.typeSubstituted }}</td>
    <td>{{ item.value }}</td>
  </tr>
{%-     endfor %}
{%- endfor %}  
</table>
<script type = "text/javascript">
  $(document).ready(function(){
    $('#ise thead tr')
    .clone(true)
    .addClass('filters')
    .appendTo('#ise thead');

    var table = $('#ise').DataTable({
        keys: true,
        dom: 'Bfrtip',
        lengthMenu: [
            [ 10, 25, 50, -1 ],
            [ '10 rows', '25 rows', '50 rows', 'Show all' ]
        ],
        buttons: [
        'pageLength','colvis','copy', 'csv', 'excel', 'pdf', 'print'
        ],
        colReorder: true,
        select: true,            
        orderCellsTop: true,
        fixedHeader: true,
        initComplete: function () {
        var api = this.api();

        // For each column
        api
            .columns()
            .eq(0)
            .each(function (colIdx) {
                // Set the header cell to contain the input element
                var cell = $('.filters th').eq(
                    $(api.column(colIdx).header()).index()
                );
                var title = $(cell).text();
                $(cell).html('<input type="text" placeholder="' + title + '" />');

                // On every keypress in this input
                $(
                    'input',
                    $('.filters th').eq($(api.column(colIdx).header()).index())
                )
                    .off('keyup change')
                    .on('keyup change', function (e) {
                        e.stopPropagation();

                        // Get the search value
                        $(this).attr('title', $(this).val());
                        var regexr = '({search})'; //$(this).parents('th').find('select').val();

                        var cursorPosition = this.selectionStart;
                        // Search the column for that value
                        api
                            .column(colIdx)
                            .search(
                                this.value != ''
                                    ? regexr.replace('{search}', '(((' + this.value + ')))')
                                    : '',
                                this.value != '',
                                this.value == ''
                            )
                            .draw();

                        $(this)
                            .focus()[0]
                            .setSelectionRange(cursorPosition, cursorPosition);
                    });
            });
    },
});
});        
</script>
</body></html>
{%- else %}
# ISE Deployment Information
## Deployment ID: {{ deploymentInfoJSON.deploymentID }}
### FIPS Status: {{ deploymentInfoJSON.fipsstatus }}
### Is Walk Me Enabled: {{ deploymentInfoJSON.isWalkmeEnabled }}
### Node List
{%- for node in deploymentInfoJSON.nodeList.nodeAndNodeCountAndCountInfo %}
#### {{ node.name }}
##### Declared Type: {{ node.declaredType }}
##### Global Scope: {{ node.globalScope }}
##### Scope: {{ node.scope }}
##### Type Substituted: {{ node.typeSubstituted }}
{%-     for item in node.value.content %}
##### Name: {{ item.name }}
###### Declared Type: {{ item.declaredType }}
###### Global Scope: {{ item.globalScope }}
###### Scope: {{ item.scope }}
###### Type Substituted: {{ item.typeSubstituted }}
###### Value: {{ item.value }}
{%-     endfor %}
{%- endfor %}
{%- endif %}{% endif %}{% endif %}