{% if filetype_loop == 0 %}VRF,ID,VRF State,Address Family,Address Family State,Foward ID,Table ID,Max Routes,Mid Threshold,Route Distinguisher{% for vrf in to_parse_vrf %}{% for address_family in to_parse_vrf[vrf].address_family %}
{{ vrf }},{{ to_parse_vrf[vrf].vrf_id }},{{ to_parse_vrf[vrf].state }},{{ address_family }},{{ to_parse_vrf[vrf].address_family[address_family].state }},{{ to_parse_vrf[vrf].address_family[address_family].fwd_id }},{{ to_parse_vrf[vrf].address_family[address_family].table_id }},{{ to_parse_vrf[vrf].max_routes }},{{ to_parse_vrf[vrf].mid_threshold }},{{ to_parse_vrf[vrf].route_distinguisher }}{% endfor %}{% endfor %}
{% else %}{% if filetype_loop == 1 %}
# Show VRF All Detail
| VRF | ID | VRF State | Address Family | Address Family State | Foward ID | Table ID | Max Routes | Mid Threshold | Route Distinguisher |
| --- | -- | --------- | -------------- | -------------------- | --------- | -------- | ---------- | ------------- | ------------------- |{% for vrf in to_parse_vrf %}{% for address_family in to_parse_vrf[vrf].address_family %}
| {{ vrf }} | {{ to_parse_vrf[vrf].vrf_id }} | {{ to_parse_vrf[vrf].state }} | {{ address_family }} | {{ to_parse_vrf[vrf].address_family[address_family].state }} | {{ to_parse_vrf[vrf].address_family[address_family].fwd_id }} | {{ to_parse_vrf[vrf].address_family[address_family].table_id }} | {{ to_parse_vrf[vrf].max_routes }} | {{ to_parse_vrf[vrf].mid_threshold }} | {{ to_parse_vrf[vrf].route_distinguisher }} |{% endfor %}{% endfor %}
{% else %}{% if filetype_loop == 2 %}
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.0/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.0/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.0/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/colreorder/1.5.4/js/dataTables.colReorder.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.0/js/buttons.colVis.min.js"></script>
    <script src="https://cdn.datatables.net/keytable/2.6.4/js/dataTables.keyTable.min.js"></script>
    <script src="https://cdn.datatables.net/select/1.3.3/js/dataTables.select.min.js"></script>
    <script src="https://cdn.datatables.net/fixedheader/3.1.9/js/dataTables.fixedHeader.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/fixedheader/3.1.9/css/fixedHeader.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/select/1.3.3/css/select.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/keytable/2.6.4/css/keyTable.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">
</head>
<body>
<h1>Show VRF All Detail</h1>
<table id = "vrf">
  <tr>
    <th>VRF</th>
    <th>ID</th>
    <th>VRF State</th>
    <th>Address Family</th>
    <th>Address Family State</th>
    <th>Forward ID</th>
    <th>Table ID</th>
    <th>Max Routes</th>
    <th>Mid Threshold</th>
    <th>Route Distinguisher</th>
  </tr>
{%- for vrf in to_parse_vrf %}{% for address_family in to_parse_vrf[vrf].address_family %}
  <tr>
    <td>{{ vrf }}</td>
    <td>{{ to_parse_vrf[vrf].vrf_id }}</td>
    <td>{{ to_parse_vrf[vrf].state }}</td>
    <td>{{ address_family }}</td>
    <td>{{ to_parse_vrf[vrf].address_family[address_family].state }}</td>
    <td>{{ to_parse_vrf[vrf].address_family[address_family].fwd_id }}</td>
    <td>{{ to_parse_vrf[vrf].address_family[address_family].table_id }}</td>
    <td>{{ to_parse_vrf[vrf].max_routes }}</td>
    <td>{{ to_parse_vrf[vrf].mid_threshold }}</td>
    <td>{{ to_parse_vrf[vrf].route_distinguisher }}</td>
  </tr>{% endfor %}{% endfor %}
</table>
<script type = "text/javascript">
  $(document).ready(function(){
    $('#vrf thead tr')
    .clone(true)
    .addClass('filters')
    .appendTo('#vrf thead');

    var table = $('#vrf').DataTable({
        keys: true,
        dom: 'Bfrtip',
        lengthMenu: [
            [ 10, 25, 50, -1 ],
            [ '10 rows', '25 rows', '50 rows', 'Show all' ]
        ],
        buttons: [
        'pageLength','colvis','copy', 'csv', 'excel', 'pdf', 'print'
        ],
        colReorder: true,
        select: true,            
        orderCellsTop: true,
        fixedHeader: true,
        initComplete: function () {
        var api = this.api();

        // For each column
        api
            .columns()
            .eq(0)
            .each(function (colIdx) {
                // Set the header cell to contain the input element
                var cell = $('.filters th').eq(
                    $(api.column(colIdx).header()).index()
                );
                var title = $(cell).text();
                $(cell).html('<input type="text" placeholder="' + title + '" />');

                // On every keypress in this input
                $(
                    'input',
                    $('.filters th').eq($(api.column(colIdx).header()).index())
                )
                    .off('keyup change')
                    .on('keyup change', function (e) {
                        e.stopPropagation();

                        // Get the search value
                        $(this).attr('title', $(this).val());
                        var regexr = '({search})'; //$(this).parents('th').find('select').val();

                        var cursorPosition = this.selectionStart;
                        // Search the column for that value
                        api
                            .column(colIdx)
                            .search(
                                this.value != ''
                                    ? regexr.replace('{search}', '(((' + this.value + ')))')
                                    : '',
                                this.value != '',
                                this.value == ''
                            )
                            .draw();

                        $(this)
                            .focus()[0]
                            .setSelectionRange(cursorPosition, cursorPosition);
                    });
            });
    },
});
});        
</script>
</body></html>
{%- else %}
# Show VRF All Detail
{%- for vrf in to_parse_vrf %}
## {{ vrf }}
### ID: {{ to_parse_vrf[vrf].vrf_id }}
### State: {{ to_parse_vrf[vrf].state }}
### Address Family
### Max Routes: {{ to_parse_vrf[vrf].max_routes }}
### Mid Threshold: {{ to_parse_vrf[vrf].mid_threshold }}
### Route Distinguisher: {{ to_parse_vrf[vrf].route_distinguisher }}
{%-     for address_family in to_parse_vrf[vrf].address_family %}
#### {{ address_family }}
##### {{ to_parse_vrf[vrf].address_family[address_family].state }}
##### ID
###### Forward: {{ to_parse_vrf[vrf].address_family[address_family].fwd_id }}
###### Table: {{ to_parse_vrf[vrf].address_family[address_family].table_id }}
{%- endfor %}{% endfor %}
{%- endif %}{% endif %}{% endif %}